{%load static%}
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Welcome to <span class="text-primary">Farm2Fork</span></h1>
            <p class="animated fadeIn mb-4 pb-2">We ensure safe, transparent, and traceable food from farm to table.</p>
            <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="" style="width: 800px; height: 700px;">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/carousel-3.jpg' %}" alt="" style="width: 800px; height: 700px;">
                </div>
            </div>
        </div>
    </div>
</div>