{%load static%}
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Product Types</h1>
            <p class = "product-type">"From fresh fruits and vegetables to aromatic spices and nourishing grains, our traceability system ensures quality, safety, and transparency from farm to table"</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-vegetables.png' %}" alt="Icon" style="width: 150px; height: 150px;">
                        </div>
                        <h6>Vegetables</h6>
                    </div>
                </a>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-fruits.png' %}" alt="Icon" style="width: 150px; height: 150px;">
                        </div>
                        <h6>Fruits</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-grains.png' %}" alt="Icon" style="width: 150px; height: 150px;">
                        </div>
                        <h6>Grains</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-spices.png' %}" alt="Icon" style="width: 150px; height: 150px;">
                        </div>
                        <h6>Spices</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->