{% extends "base.html" %}
{%load static%}


{%block title%} <title>License </title>{% endblock %}
{%block content%}

        <br>
        <div class="container">
            <div class="license-header mb-4">
                <strong>Farm2Fork License</strong>
            </div>
            <div class="license-details">
                <p>This license is issued to Farm2Fork, hereinafter referred to as the "Licensee," by the Government of People's Republic of Bangladesh, hereinafter referred to as the "Licensing Authority," in accordance with the safety food regulations of The People's Republic of Bangladesh.</p>
                <!-- Additional license details... -->
            </div>
            <div class="license-signatures">
                <p>Authorized Signatures:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p>For Farm2Fork:<br>
                        <em>XXXX XXXX<br>
                        Executive officer<br>
                        25.10.2024</em></p>
                    </div>
                    <div class="col-md-6">
                        <p>For The People's Republic of Bangladesh:<br>
                        <em>XXXX XXXX<br>
                        Tax Officer, DNCC <br>
                        </em>16.08.2023</p>
                    </div>
                </div>
            </div>
        </div>
        

{%endblock%}