{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Terms & Conditions</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="mb-4">Terms and Conditions</h1>
                    <p class="lead">Welcome to our Farm2Fork website. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions:</p>

                    <h3 class="mt-5">1. Use of Website</h3>
                    <p>Your use of the website is subject to the terms and conditions outlined in this agreement...</p>

                    <h3 class="mt-5">2. Intellectual Property</h3>
                    <p>The content, trademarks, logos, and other intellectual property displayed on the website are owned by us...</p>

                    <h3 class="mt-5">3. Privacy Policy</h3>
                    <p>Our Privacy Policy details how we collect, use, and protect your personal information...</p>

                    <!-- More terms and conditions here -->

                    <h3 class="mt-5">Contact Us</h3>
                    <p>If you have any questions about these terms and conditions, please <a href="{% url 'contact' %}" class="text-decoration-none">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}